*.json.bak
*.log

FlowLauncher/Logs/
FlowLauncher/Cache/

**/CachedImages

FlowLauncher/Settings/History.json
FlowLauncher/Settings/TopMostRecord.json
FlowLauncher/Settings/UserSelectedRecord.json

**/ClipboardPlus.db

