::-webkit-scrollbar {
    height: 0px;
    display: none;
}

.ytmusic-carousel,
.ytmusic-carousel-container {
    overflow-x: scroll !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
}