/* Hide close button on vertical tabs */
.tab-close-button {
  display: none !important;
}

/* Hide activity dot on tabs */
:root {
  --attention-dot-color: transparent !important;
}

/* Hide the bitwarden sidebar button */
moz-button[extensionId="{446900e4-71c2-419f-a6a7-df9c091e268b}"] {
  display: none !important;
}

/* Hide the raindrop sidebar button */
moz-button[extensionId="jid0-adyhmvsP91nUO8pRv0Mn2VKeB84@jetpack"] {
  display: none !important;
}
